

@charset "utf-8";

html{
  font-size: 62.5%;
  /* 62.5%= 10px  
1rem = 10px */
}

@media screen and (min-width:1024px){


/* lightbox.css */
.lightbox img {
  max-width: 100%;
  height: auto;
}


body{
  margin: 0;
padding: 0;
   width: 100%;
    height: auto; 
    background-color: #B7BAC3;
    box-sizing: border-box;

}

.main-page p {
  display: none; 
  /* 初始隐藏文字 */
  opacity: 0;
  position: relative;
  top: 50px; /* 初始位置 */
  font-size:8.7rem;
  -webkit-transition: all 2s ease; /* Safari */
  transition: all 2s ease;
  white-space: nowrap;
}

.openbtn1.active span {
  background-color:#FAFA1B ; /* 示例 */
  -webkit-transition: all 0.3s ease; /* Safari */
  transition: all 0.3s ease;
}

#circle-bg.circleactive {
  display: block;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

/* 
.head{
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    
} */

.global-header{
  width: 100%;
  background-color: #B7BAC3;
  /* box-sizing: border-box; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

.top-icon{
  width: 86%;
  padding-left:57px ;
  display: block;
}

.main-page{
/* width: 100%; */
/* height: auto; */
padding-top: 60px;
}

.main-content1{
  font-weight: bold;
margin-bottom: 8.6%;
  /* line-height: 200%; */
  color: #FAFA1B;
  padding-left:57px ;
  padding-top: 148px; 
  
}

.main-content2{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B; 
  padding-left:57px 

}

.main-content3{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B;
  padding-left:57px;
  padding-bottom: 165px;

}

/* kokokara works page */


.main-works{
  margin:175px 0 0 0;
  height:1000px;
  background-color: #B7BAC3;
}

.works-title{
  font-size:8rem;
  font-weight: bold;
  text-align: right;
  padding:0 112px 0 0;
  color: #FAFA1B;
}


.icon-contents{
  /* width:80%; */
  margin:100px 125px 0 163px;
}

.icon-list{
  display: flex;
  justify-content:space-between;
}

.icon-list-inner{
  width:225px; 
}

.icon-img{
  width:100%;
  margin:20px 0 0 0;
}

.text{
  font-size:3rem;
  /* line-heightとheightの高さを同じにしてtext-align:cener;をかけると中央上下揃う */
  text-align: center;
  line-height: 60px;
  color: #707070;
  width:225px;
  height:60px;
  background-color:#FAFA1B;
}




/* kokokara profile page */

.main-profile{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #B7BAC3;
  /* padding: 20px; */
}
.profile-1 img{
  max-width: 100%;
  margin-left: 57px ;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.experience img{
  max-width: 100%;
  width: 832px;
  height: 742px;
  padding-top: 10px;
  padding-right: 50px;
}

.profile-2{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;

}

.profile-2-img{
   padding-top: 50px;
  padding-right: 10px;

}
.profile-pic{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.profile-img{
  width: 100%;
  background-color: #FAFA1B;
  padding: 10px 10px 10px 10px ;
}

.profile-3-img{
  max-width: 100%;
  height: auto;
  padding: 10px;
}


.name{
  font-size: 4.8rem;
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: bold;
  color: #D37A00;
  padding-right: 50%;

}
.profile-title{
  font-size:8rem;
  font-weight: bold;
  padding-top: 8%;
  padding-bottom: 8%;
  margin: 0 0 0 70%;
  color: #FAFA1B;
  
}


.main-contact{
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  /* height: 870px; */
}

.contact-title{
  font-size:8rem;
font-weight: bold;
margin: 12% 0 0 70%;
padding-top: 8%;
color: #FAFA1B;


}

.email{
  font-size: 9.3rem ;
  font-weight: bold;
  color: #FAFA1B;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 300px;
  width: 100%;
}

.mailicon {
  width: 100px;
  height: auto;
   max-width: 257px; 
   display: flex;
  margin: 0 auto;
  padding-top: 10%;
}

/* kokokara poster page */

.poster-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.poster-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}

.magazine-title{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;

}
.magazine-caption{

  font-size: 20px ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 45px;
  line-height: 30px;
}

.poster-right-area{
  width: 79.5%;
  height: auto;
}

.poster-caption{
  font-size: 1.6rem;
  padding-top: 121px;
  border: solid;
  padding: 93px 15px 93px 15px;
  line-height: 30px;
   width: 100%; 
  box-sizing: border-box;
}

.pic-contect-box{
  width: 100%;
  height: auto;
  display: flex;
}
.pic-left{
  /* 507px */
width: 48%;

}

.pic-right{
  width:52% ;
}

.magazine1{
  /* width: 506px; */
  height: 708px; 
  width: 100%;
  border: solid ;
  border-width: 0.1px;
  
  }
 .magazine2{
  /* width: 694px; */
  width: 100%;
  height: 353px;
  border: solid ;
  border-width: 0.1px;
 /* vertical-align: top; */

  }
  .magazine3{
    /* width: 694px; */
    width: 100%;
    height: 353px;
    border: solid ;
    border-width: 0.1px;
    /* vertical-align: top; */
  } 

  .divider{
    display: flex; 
    justify-content: center;
    gap: 20px; /* 圆点之间的间距 */
    margin-top: 27px;
    margin-bottom: 27px;
    
  }

  .dot {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: none; /* 初始隐藏 */
}


.typo-poster-content-box{
  width: 100%;
  height: auto;
  display: flex;
}

.typo-poster-left-area{
width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}

.typo-poster-right-area{
  width: 79.5%;
 display: flex;
 flex-wrap: wrap;
}

.typo-title{
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;
  line-height: 100px;
}


.typo1 , .typomockup1 ,.typo2 , .typo3 {
  /* width: 601px;
  height: 818px; */

  width: 50%;
  height: auto;
}

.typomockup2{
  /* width: 1202px;
  height: 810px; */
  width: 100%;
  height: auto;
}

.typo-pic-group{

display: flex;
flex-wrap: wrap;
}


.poster-content-box2{
  width: 100%;
  height: auto;
  display: flex;
}

.poster-left-area-adv{
  width:20.5% ;
  height: 1575px ;
  background-color: #FAFA1B;
}

.adv-title{
font-size:4rem ;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding: 64px;
text-align: center;
}

.adv-title2{
font-size: 2rem ;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 45px;
line-height: 30px;
}


.adv-caption{
  font-size: 1.6rem;
  /* padding-top: 121px; */
  border: solid;
  padding: 64px 66px 64px 66px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
}
.sprite-adv-b3-1,.sprite-adv-b3-2,.sprite-adv-b1-1 ,.sprite-adv-b1-2{
  /* width: 601px ; */
  width: 50%;
  height: auto;
  /* height: 441px; */
  border: solid ;
  border-width: 0.1px;
}

.sprite-adv-mockup1,.sprite-adv-mockup2{
  /* width: 601px; */
  width: 50%;
  /* height: 438px; */
  height: auto;
  border: solid ;
  border-width: 0.1px;
}

.adv-contentbox1{
  display: flex;
  flex-direction: row;
}

.poster-content-box3{
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.poster-left-area-adv2{
  width: 20.5%;
  height: auto ;
  background-color: #EBEBE4;
}

.poster-right-area-adv2{
  width: 79.5%;
}

.adv-caption1{
  font-size: 1.6rem;
  border: solid;
  padding: 156px 51px 156px 51px;
  line-height: 30px;
  box-sizing: border-box;
}

.adv-marble2{
  width: 890px;
  height: 217px;
  border: solid;

}
.adv-marble2-img{
  display: flex;
  justify-content: flex-end;
  border: solid;
}

/* marble's caption */
.adv-marble1{
  width: 534px;
  height: 497px;
  border: solid;
}

/* kokokara illustration page */

.works-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.works-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}
.works-right-area{
  width: 79.5%;
  height: auto;
}
.works-title-illu{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 130px;
  line-height:30px ;

}

.works-title2-illu{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 68px;
  line-height:30px ;

}

.works-content-box2{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 35px;
  /* justify-content: space-between; */
  margin-bottom: 50px;
}

.illu-caption{
  font-size: 2rem ;
  font-family: Arial, Helvetica, sans-serif;
 /* padding: 55px 59px 55px 59px ;  */
 padding: 55px 0px 55px 0px;
  line-height: 30px;
  border: solid;
  width: 100%;
}



.works-illu{
  width: 100%;
  height: auto;
  border: solid;
  box-sizing: border-box;

}


.illu-pic-left{
  width: 100%;
  height: auto;
  vertical-align: center; 

}
.illu-pic-right{
  width: 100%;
  height: auto;
}



.illu-dior-1{
  width: 100%;
  height: auto ;
  border: solid;

  vertical-align: middle;
}

.illu-dior-2{
  width:100% ;
  height:780px ;
  border: solid;
  vertical-align: middle;
}

/* do not need to setup left and right width */
.illu-pic-box{
  width: 100%;
  height:auto ;
  display: flex;
  justify-content: space-between;
}

.illu-dior-3 ,.illu-dior-4{
  width: 100% ;
  height: 390px;
  border: solid;
  border-width: 1px; 
   vertical-align: middle;  
}


/* koko kara photograph page */


.photo1,.photo2{
  width: 555px;
  height: 401px;
}

.photo3,.photo4{
  width: 555px;
  height: 720px;
}
.works-left-area1{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}


.works-right-area1{
width: 79.5%;
height: auto;
/* display: flex; */
background-color: #FAFA1B;
}

.group1{
  display: flex;
justify-content:flex-end;
  padding: 45px 0px 45px 45px;
}

.group2{
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}
.group3{
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 45px 45px;
}
.group4{
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}



/* koko kara video page  */


.video-title{
font-size: 3rem;
text-align: center;
text-align: center;
line-height: 40px;
color: #707070;
background-color:#FAFA1B;
padding-top: 20px;
padding-bottom: 20px;
width: 904px;
margin:0 auto ;
}


.video-container {
  width: 100%;
  margin: 121px 148px 0 148px ;
  text-align: center;
  
}

video {
  width: 904px;
  height: auto;
  margin-top: 30px;
  border: 2px solid #000;
  border-radius: 10px;
}






/* koko kara footer */

.global-footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 50px; */
  /* background: linear-gradient(#FAFA1B, white); */
}

.footer-text{
  font-size: 2rem;
  text-align: center;
  width: 25% ;
  text-align: center;
  line-height: 40px;
  color: #707070;
  background-color:#FAFA1B;
}


/* koko kara package page */
.sansuilogo{
  width: 1200px;
  height: 238px;
  border: solid;

}

.package-pic-box{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.package_pic_1 , .package_pic_2{
  width: 600px;
  height: 738px;
  border: solid;

}
.packagelayout{
  width: 1200px;
  height: 891px;
  border: solid;

}




/* koko kara contact page */
.contactpage-title{
  font-size:6rem;
font-weight: bold;
padding-left: 1100px;
position: relative;
top: -80px;
color: #FAFA1B;
}









/* .gnav{
    width:100%;
} */
/* .menu_box{
    max-width: 100%;
    margin: 0px auto;
} */

/* .gnav__menu{
    display: flex;
    justify-content: space-between;
} */


#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
  top: 0;
  width:100%;
    height: 100vh;
}

/* 丸の拡大 */
.circle-bg{
    position: fixed;
  z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #B7BAC3;
    /*丸のスタート位置と形状*/
  transform: scale(0);/*scaleをはじめは0に*/
  right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
} 

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    background-color: #B7BAC3; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
    /* display: flex;
    justify-content: space-around;
    width: 90%; */
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav-list{
  width: 45%;
  margin: 0 0 0 190px;
  /* text-align: center; 
  list-style: none; */
}

.g-nav ul{
  width: 100%;
}

#g-nav li{
  text-align: left;
  list-style: none;
}

#g-nav li a{
  color:yellow;
  text-decoration: none;
  /* padding:10px; */
  margin: 30px 0; 
  display: block;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 50px;
}
/* #g-nav li a img{
  width: 100%;
} */

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  top:10px;
  right: 30px; /*btn position*/
  z-index: 9999;/*ボタンを最前面に*/
  cursor: pointer;
    width: 84px;
    height: 84px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color:#FAFA1B;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    background-color: #FAFA1B;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    background-color: #FAFA1B;
}
/* .top-title{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    font-weight: bold;
    font-size: 50px;
    
  }
  .top-title_buttom{
    color: #fff;
    text-decoration: none;
  
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  } */
}



 /* ここにタブレット用 CSS を記述 */
@media screen and (min-width:481px) and (max-width:1023px){ 

  /* lightbox.css */
.lightbox img {
  max-width: 100%;
  height: auto;
}


body{
  margin: 0;
padding: 0;
   width: 100%;
    height: auto; 
    background-color: #B7BAC3;
    box-sizing: border-box;

}

.main-page p {
  display: none; 
  /* 初始隐藏文字 */
  opacity: 0;
  position: relative;
  top: 50px; /* 初始位置 */
  font-size:8.7rem;
  -webkit-transition: all 2s ease; /* Safari */
  transition: all 2s ease;
  white-space: nowrap;
}

.openbtn1.active span {
  background-color:#FAFA1B ; /* 示例 */
  -webkit-transition: all 0.3s ease; /* Safari */
  transition: all 0.3s ease;
}

#circle-bg.circleactive {
  display: block;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

/* 
.head{
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    
} */

.global-header{
  width: 100%;
  background-color: #B7BAC3;
  /* box-sizing: border-box; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

.top-icon{
  width: 86%;
  padding-left:57px ;
  display: block;
}

.main-page{
/* width: 100%; */
/* height: auto; */
padding-top: 60px;
}

.main-content1{
  font-weight: bold;
margin-bottom: 8.6%;
  /* line-height: 200%; */
  color: #FAFA1B;
  padding-left:57px ;
  padding-top: 148px; 
  
}

.main-content2{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B; 
  padding-left:57px 

}

.main-content3{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B;
  padding-left:57px;
  padding-bottom: 135px;

}

/* kokokara works page */


.main-works{
  margin:175px 0 0 0;
  height:1000px;
  background-color: #B7BAC3;
}

.works-title{
  font-size:6rem;
  font-weight: bold;
  text-align: right;
  padding:0 112px 0 0;
  color: #FAFA1B;
}


.icon-contents{
  /* width:80%; */
  margin:80px 85px 0 85px;
}

.icon-list{
  display: flex;
  justify-content:space-between;
}

.icon-list-inner{
  width:225px; 
}

.icon-img{
  width:100%;
  margin:20px 0 0 0;
}

.text{
  font-size:3rem;
  /* line-heightとheightの高さを同じにしてtext-align:cener;をかけると中央上下揃う */
  text-align: center;
  line-height: 60px;
  color: #707070;
  width:205px;
  height:60px;
  background-color:#FAFA1B;
}




/* kokokara profile page */

.main-profile{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #B7BAC3;
  /* padding: 20px; */
}
.profile-1 img{
  max-width: 100%;
  margin-left: 57px ;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.experience img{
  max-width: 100%;
  width: 832px;
  height: 742px;
  padding-top: 10px;
  padding-right: 50px;
}

.profile-2{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;

}

.profile-2-img{
   padding-top: 50px;
  padding-right: 10px;

}
.profile-pic{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.profile-img{
  width: 100%;
  background-color: #FAFA1B;
  padding: 10px 10px 10px 10px ;
}

.profile-3-img{
  width: 100%;
  height: auto;
  padding: 10px;
}


.name{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: bold;
  color: #D37A00;
  padding-right: 50%;

}
.profile-title{
  font-size:6rem;
  font-weight: bold;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 112px;
   margin: 0 0 0 63%; 
  color: #FAFA1B;
  
}


.main-contact{
  max-width: 100%;
  width: 100%;
  height: auto;
  /* height: 870px; */
  background-color: #B7BAC3;
}

.contact-title{
  font-size:6rem;
font-weight: bold;
margin: 0 0 0 55%;
padding-top: 175px;
color: #FAFA1B;

}

.email{
  font-size: 7.3rem ;
  font-weight: bold;
  color: #FAFA1B;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 230px;
  width: 100%;
}
.mailicon {
  width: 100px;
  height: auto;
  max-width: 257px;
  object-fit: cover;
  margin: 0 auto; /* Center the icon horizontally */
  display: block; /* Ensures the margin: auto works */
  padding-top: 10%;
}

/* kokokara poster page */

.poster-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.poster-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}

.magazine-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;

}
.magazine-caption{

  font-size: 1rem ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 45px;
  line-height: 30px;
}

.poster-right-area{
  width: 79.5%;
  height: auto;
}

.poster-caption{
  font-size: 1.6rem;
  padding-top: 121px;
  border: solid;
  padding: 93px 15px 93px 15px;
  line-height: 30px;
  width:auto;
  box-sizing: border-box;
}

.pic-contect-box{
   width: 100%; 
  height: auto;
  display: flex;
}
.pic-left{
  /* 507px */
width: 410px;
height: 350px;

}

.pic-right{
  width:494px ;
  height: 409px ;

}

.magazine1{
  /* width: 506px; */
  height: 410px; 
  width: 100%;
  border: solid ;
  border-width: 0.1px;
  
  }
 .magazine2{
  /* width: 694px; */
  width: 100%;
   height: 204.5px; 
  border: solid ;
  border-width: 0.1px;
  vertical-align: top;

  }
  .magazine3{
    /* width: 694px; */
    width: 100%;
    height: 204.5px; 
    border: solid ;
    border-width: 0.1px;
     vertical-align: top; 
  } 

  .divider{
    display: flex; 
    justify-content: center;
    gap: 20px; /* 圆点之间的间距 */
    margin-top: 27px;
    margin-bottom: 27px;
    
  }

  .dot {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: none; /* 初始隐藏 */
}


.typo-poster-content-box{
  max-width: 100%;
  height: auto;
  display: flex;
}


.typo-poster-left-area{
  width: 20.5%;
    height: auto;
    display: flex;
   flex-direction: column; 
  background-color: #EBEBE4;
  }
  
  .typo-poster-right-area{
    width: 79.5%;
   display: flex;
   flex-wrap: wrap;
  }

.typo-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;
  line-height: 100px;
}


.typo1 , .typomockup1 ,.typo2 , .typo3 {
  width: 50%;
  height: auto;

}

.typomockup2{
 width: 100%;
 height: auto;
}
.typo-pic-group{
display: flex;
flex-wrap: wrap;
}


.poster-content-box2{
  width: 100%;
  height: auto;
  display: flex;
}

.poster-left-area-adv{
  width:20.5% ;
 height: auto;
  background-color: #FAFA1B;
}

.adv-title{
font-size:2rem ;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding: 64px;
text-align: center;
}

.adv-title2{
font-size: 2rem ;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 45px;
line-height: 30px;
}


.adv-caption{
  font-size: 1.6rem;
  /* padding-top: 121px; */
  border: solid;
  padding: 64px 66px 64px 66px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
}
.sprite-adv-b3-1,.sprite-adv-b3-2,.sprite-adv-b1-1 ,.sprite-adv-b1-2{
  /* width: 601px ;
  height: 441px; */
  width: 50%;
  border: solid ;
  border-width: 0.1px;
}

.sprite-adv-mockup1,.sprite-adv-mockup2{
  /* width: 601px;
  height: 438px; */
  width: 50%;
  border: solid ;
  border-width: 0.1px;
}

.adv-contentbox1{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.poster-content-box3{
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.poster-left-area-adv2{
  width: 20.5%;
  height: auto ;
  background-color: #EBEBE4;
}

.poster-right-area-adv2{
  width: 79.5%;
  height: auto;
}

.adv-caption1{
  font-size: 1.6rem;
  border: solid;
  padding: 20px 31px 20px 31px;
  line-height: 30px;
  box-sizing: border-box;
  width: 45%;
  height: 360px;
}

.adv-marble2{
  /* width: 890px;
  height: 217px; */
  width: 80%;
  border: solid;
display: flex;
justify-content: flex-end;
}
.adv-marble2-img{
  display: flex;
  justify-content: flex-end;
  border: solid;
}

/* marble's caption */
.adv-marble1{
  /* width: 534px;
  height: 497px; */
  width: 55%;
  border: solid;
  height: 360px;
}

/* kokokara illustration page */

.works-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.works-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}
.works-right-area{
  width: 79.5%;
  height: auto;
}
.works-title-illu{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 130px;
  line-height:30px ;

}

.works-title2-illu{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 68px;
  line-height:30px ;

}

.works-content-box2{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 35px;
  /* justify-content: space-between; */
  margin-bottom: 50px;
}

.illu-caption{
  font-size: 1.6rem ;
  font-family: Arial, Helvetica, sans-serif;
 /* padding: 55px 59px 55px 59px ;  */
 padding: 50px 0px 50px 0px;
  line-height: 30px;
  border: solid;
  width: 100%;
  height: auto;
}



.works-illu{
width: 100%;
  height: auto;
  border: solid;
  box-sizing: border-box;

}

.illu-dior-1{
  /* width: 1200px;
  height: 823px ; */
  width: 100%;
  height: auto;
  border: solid;

  vertical-align: middle;
}


/* do not need to setup left and right width */
.illu-pic-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.illu-pic-left{
  width: 50%;
  height: auto;
  vertical-align: center;
}
.illu-pic-right{
  width: 50%;
  height: auto;
}


.illu-dior-2{
    width:100% ;
  height:444px;  
  border: solid;
  vertical-align: center;
}

.illu-dior-3 ,.illu-dior-4{
  width:100% ;
  height:222px ;  
  border: solid;
  border-width: 0.2px;
  vertical-align: middle;
}


/* koko kara photograph page */


.photo1,.photo2{
  /* width: 555px; */
  width: 45%;
  height: auto;
}

.photo3,.photo4{
  width: 45%;
  /* width: 555px; */
  height: auto;
}
.works-left-area1{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}


.works-right-area1{
width: 79.5%;
height: auto;
/* display: flex; */
background-color: #FAFA1B;
}

.group1{
  width: 100%;
  height: auto;
  display: flex;
justify-content:flex-end;
  padding: 45px 0px 45px 0px;
}

.group2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}
.group3{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 45px 0px;
}
.group4{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}




/* koko kara video page  */


.video-title{
  font-size: 3rem;
  text-align: center;
  text-align: center;
  line-height: 40px;
  color: #707070;
  background-color:#FAFA1B;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 904px;
  margin:0 auto ;
  }
  
  
  .video-container {
    width: 100%;
    margin: 121px 148px 0 148px ;
    text-align: center;
    
  }
  
  video {
    width: 904px;
    height: auto;
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  
  

/* koko kara footer */

.global-footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 50px; */
  /* background: linear-gradient(#FAFA1B, white); */
}

.footer-text{
  font-size:1rem;
  text-align: center;
  width: 25% ;
  text-align: center;
  line-height: 20px;
  color: #707070;
  background-color:#FAFA1B;
}


/* koko kara package page */
.sansuilogo{
  width: 100%;
  height: auto;
  border: solid;

}

.package-pic-box{
  width: 100%;
  display: flex;
flex-direction: column;
}

.package_pic_1 , .package_pic_2{
  width: 100%;
  height: auto;
  border: solid;

}
.packagelayout{
  width: 100%;
  height: auto;
  border: solid;

}




/* koko kara contact page */
.contactpage-title{
  font-size:6rem;
font-weight: bold;
padding-left: 1100px;
position: relative;
top: -80px;
color: #FAFA1B;
}









/* .gnav{
    width:100%;
} */
/* .menu_box{
    max-width: 100%;
    margin: 0px auto;
} */

/* .gnav__menu{
    display: flex;
    justify-content: space-between;
} */


#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
  top: 0;
  width:100%;
    height: 100vh;
}

/* 丸の拡大 */
.circle-bg{
    position: fixed;
  z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #B7BAC3;
    /*丸のスタート位置と形状*/
  transform: scale(0);/*scaleをはじめは0に*/
  right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
} 

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    background-color: #B7BAC3; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
    /* display: flex;
    justify-content: space-around;
    width: 90%; */
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav-list{
  width: 45%;
  margin: 0 0 0 190px;
  /* text-align: center; 
  list-style: none; */
}

.g-nav ul{
  width: 100%;
}

#g-nav li{
  text-align: left;
  list-style: none;
}

#g-nav li a{
  color:yellow;
  text-decoration: none;
  /* padding:10px; */
  margin: 30px 0; 
  display: block;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 50px;
}
/* #g-nav li a img{
  width: 100%;
} */

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  top:10px;
  right: 30px; /*btn position*/
  z-index: 9999;/*ボタンを最前面に*/
  cursor: pointer;
    width: 84px;
    height: 84px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color:#FAFA1B;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    background-color: #FAFA1B;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    background-color: #FAFA1B;
}
/* .top-title{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    font-weight: bold;
    font-size: 50px;
    
  }
  .top-title_buttom{
    color: #fff;
    text-decoration: none;
  
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  } */




}


/* ここにスマートフォン用 CSS を記述 */
@media screen and (max-width:480px){  

/* lightbox.css */
.lightbox img {
  max-width: 100%;
  height: auto;
}


body{
  margin: 0;
padding: 0;
   width: 100%;
    height: auto; 
    background-color: #B7BAC3;
    box-sizing: border-box;

}

.main-page p {
  display: none; 
  /* 初始隐藏文字 */
  opacity: 0;
  position: relative;
  top: 50px; /* 初始位置 */
  font-size:4rem;
  -webkit-transition: all 2s ease; /* Safari */
  transition: all 2s ease;
  white-space: nowrap;
}

.openbtn1.active span {
  background-color:#FAFA1B ; /* 示例 */
  -webkit-transition: all 0.3s ease; /* Safari */
  transition: all 0.3s ease;
}

#circle-bg.circleactive {
  display: block;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}


.global-header{
  width: 100%;
  background-color: #B7BAC3;
  /* box-sizing: border-box; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

.top-icon{
  width: 86%;
  padding-left:57px ;
  display: block;
}

.top-icon img{
width: 60px;
height: 70px;
}

.main-page{
/* width: 100%; */
/* height: auto; */
padding-top: 60px;
}

.main-content1{
  font-weight: bold;
margin-bottom: 8.6%;
  /* line-height: 200%; */
  color: #FAFA1B;
  padding-left:57px ;
  padding-top: 148px; 

}

.main-content2{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B; 
  padding-left:57px ;
  

}

.main-content3{
  /* font-size:87px; */
  font-weight: bold;
  margin-bottom: 8.6%;
  color: #FAFA1B;
  padding-left:57px;
  padding-bottom: 30px;

}

/* kokokara works page */


.main-works{
  margin:135px 0 0 0;
  height:auto;
  /* background-color: #B7BAC3; */
}

.works-title{
  font-size:3rem;
  font-weight: bold;
  text-align: right;
  padding:0 50px 0 0;
  color: #FAFA1B;
}


.icon-contents{
  /* width:80%; */
  margin:40px 45px 0 45px;
}

.icon-list{
  display: flex;
justify-content: center;
}

.icon-list-inner{
  width:205px; 
}

.icon-img{
  width:80%;
  margin:20px 0 0 0;
  
}

.text{
  font-size:2rem;
  /* line-heightとheightの高さを同じにしてtext-align:cener;をかけると中央上下揃う */
  text-align: center;
  line-height: 30px;
  color: #707070;
  width:125px;
  height:30px;
  background-color:#FAFA1B;
}




/* kokokara profile page */

.main-profile{
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #B7BAC3;
  /* padding: 20px; */
}
.profile-1 img{
  max-width: 100%;
  margin-left: 57px ;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.experience img{
  max-width: 100%;
  width: 832px;
  height: 742px;
  padding-top: 10px;
  padding-right: 50px;
}

.profile-2{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;

}

.profile-2-img{
   padding-top: 50px;
  padding-right: 10px;

}
.profile-pic{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  
}

.profile-img{
  width: 100%;
  background-color: #FAFA1B;
  padding: 10px 10px 10px 10px ;
}

.profile-3-img{
  width: 100%;
  height: auto;
  padding: 10px;
  
}
.profile-picture3{
  width: 200px;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}


.name{
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: bold;
  color: #D37A00;
  padding-right: 50%;

}
.profile-title{
  font-size:3rem;
  font-weight: bold;
  padding-bottom: 8%;
  padding-right: 112px;
   margin: 0 0 0 63%; 
  color: #FAFA1B;
  padding-top: 80px;
  
}


.main-contact{
  max-width: 100%;
  width: 100%;
  height: auto;
  /* height: 870px; */
  background-color: #B7BAC3;
}

.contact-title{
  font-size:3rem;
font-weight: bold;
margin: 0 0 0 55%;
padding-top: 175px;
padding-bottom: 30px;
color: #FAFA1B;

}

.email{
  font-size: 3rem ;
  font-weight: bold;
  color: #FAFA1B;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 230px;
  width: 100%;
}
.mailicon {
  width: 80px;
  height: auto;
  max-width: 257px;
  display: flex;
  margin: 0 auto; /* Center the icon horizontally */
  padding-top: 150px;
}


























/* kokokara poster page */

.poster-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.poster-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}

.magazine-title{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;

}
.magazine-caption{

  font-size: 1rem ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 45px;
  line-height: 30px;
}

.poster-right-area{
  width: 79.5%;
  height: auto;
}

.poster-caption{
  font-size: 1rem;
  padding-top: 121px;
  border: solid;
  padding: 73px 15px 73px 15px;
  line-height: 30px;
  width:auto;
  box-sizing: border-box;
}

.pic-contect-box{
   width: 100%; 
  height: auto;
  display: flex;
}
.pic-left{
  /* 507px */
width: 100%;

}

.pic-right{
width: 100%;

}

.magazine1{
  /* width: 506px; */
  height: 290px; 
  width: 100%;
  border: solid ;
  border-width: 0.1px;
  
  }
 .magazine2{
  /* width: 694px; */
  width: 100%;
   height: 145px; 
  border: solid ;
  border-width: 0.1px;
  vertical-align: top;

  }
  .magazine3{
    /* width: 694px; */
    width: 100%;
    height: 145px; 
    border: solid ;
    border-width: 0.1px;
     vertical-align: top; 
  } 

  .divider{
    display: flex; 
    justify-content: center;
    gap: 20px; /* 圆点之间的间距 */
    margin-top: 27px;
    margin-bottom: 27px;
    
  }

  .dot {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: none; /* 初始隐藏 */
}


.typo-poster-content-box{
  max-width: 100%;
  height: auto;
  display: flex;
}


.typo-poster-left-area{
  width: 20.5%;
    height: auto;
    display: flex;
   flex-direction: column; 
  background-color: #EBEBE4;
  }
  
  .typo-poster-right-area{
    width: 79.5%;
   display: flex;
   flex-wrap: wrap;
  }

.typo-title{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;
  line-height: 100px;
}


.typo1 , .typomockup1 ,.typo2 , .typo3 {
  width: 50%;
  height: auto;

}

.typomockup2{
 width: 100%;
 height: auto;
}
.typo-pic-group{
display: flex;
flex-wrap: wrap;
}


.poster-content-box2{
  width: 100%;
  height: auto;
  display: flex;
}

.poster-left-area-adv{
  width:20.5% ;
 height: auto;
  background-color: #FAFA1B;
}

.adv-title{
font-size:1rem ;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding-top: 64px;
text-align: center;
}

.adv-title2{
font-size: 0.5rem ;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-top: 45px;
line-height: 30px;
}


.adv-caption{
  font-size: 1rem;
  /* padding-top: 121px; */
  border: solid;
  padding: 44px 46px 44px 46px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
}
.sprite-adv-b3-1,.sprite-adv-b3-2,.sprite-adv-b1-1 ,.sprite-adv-b1-2{
  /* width: 601px ;
  height: 441px; */
  width: 50%;
  border: solid ;
  border-width: 0.1px;
}

.sprite-adv-mockup1,.sprite-adv-mockup2{
  /* width: 601px;
  height: 438px; */
  width: 50%;
  border: solid ;
  border-width: 0.1px;
}

.adv-contentbox1{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.poster-content-box3{
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.poster-left-area-adv2{
  width: 20.5%;
  height: auto ;
  background-color: #EBEBE4;
}

.poster-right-area-adv2{
  width: 79.5%;
  height: auto;
}

.adv-caption1{
  font-size: 0.6rem;
  border: solid;
   padding: 0 auto; 
  line-height: 20px;
  box-sizing: border-box;
  width: 45%;
  height: auto;
  padding: 10px 0 0 0;
}

.adv-marble2{
  /* width: 890px;
  height: 217px; */
  width: 80%;
  border: solid;
display: flex;
justify-content: flex-end;
}
.adv-marble2-img{
  display: flex;
  justify-content: flex-end;
  border: solid;
}

/* marble's caption */
.adv-marble1{
  /* width: 534px;
  height: 497px; */
  width: 55%;
  border: solid;
  height: auto;
}

/* kokokara illustration page */

.works-content-box{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 121px;
  /* justify-content: space-between; */
}

.works-left-area{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}
.works-right-area{
  width: 79.5%;
  height: auto;
}
.works-title-illu{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 130px;
  line-height:30px ;

}

.works-title2-illu{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 68px;
  line-height:30px ;

}

.works-content-box2{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 35px;
  /* justify-content: space-between; */
  margin-bottom: 50px;
}

.illu-caption{
  font-size: 1rem ;
  font-family: Arial, Helvetica, sans-serif;
 /* padding: 55px 59px 55px 59px ;  */
 padding: 20px 0px 20px 0px;
  line-height: 30px;
  border: solid;
  width: 100%;
  height: auto;
}



.works-illu{
  width: 100%;
  width: 316.05px;
  height: auto;
  border: solid;
  box-sizing: border-box;
  padding-bottom: 1px;

}

.illu-pic-left{
  width: 100%;
  height: auto;
  vertical-align: center; 

}
.illu-pic-right{
  width: 100%;
  height: auto;
}


.illu-dior-1{
  width: 100%;
  height: auto;
  border: solid;
  vertical-align: middle;
}

.illu-dior-2{
  /* width:604px ;
  height:795px ; */
  /* width: 100%; */
  height: 230px;
  border: solid;
  vertical-align: middle;
}

/* do not need to setup left and right width */
.illu-pic-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.illu-dior-3 ,.illu-dior-4{
   width: 100%; 
  height: 115px;
  border: solid;
  border-width: 0.5px;
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
}


/* koko kara photograph page */


.photo1,.photo2{
  /* width: 555px; */
  width: 45%;
  height: auto;
}

.photo3,.photo4{
  width: 45%;
  /* width: 555px; */
  height: auto;
}
.works-left-area1{
  width: 20.5%;
  height: auto;
  display: flex;
 flex-direction: column; 
background-color: #EBEBE4;
}


.works-right-area1{
width: 79.5%;
height: auto;
/* display: flex; */
background-color: #FAFA1B;
}

.group1{
  width: 100%;
  height: auto;
  display: flex;
justify-content:flex-end;
  padding: 45px 0px 45px 0px;
}

.group2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}
.group3{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 45px 0px;
}
.group4{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 45px 45px 0px;
}




/* koko kara video page  */


.video-title{
  font-size: 2rem;
  text-align: center;
  text-align: center;
  line-height: 20px;
  color: #707070;
  background-color:#FAFA1B;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin:0 auto ;
  }
  
  
  .video-container {
    width: 100%;
    margin: 121px 0 0 0 ;
    text-align: center;
    
  }
  
  video {
    width: 300px;
    height: auto;
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  
  

/* koko kara footer */

.global-footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 50px; */
  /* background: linear-gradient(#FAFA1B, white); */
}

.footer-text{
  font-size:0.5rem;
  text-align: center;
  width: 25% ;
  text-align: center;
  line-height: 20px;
  color: #707070;
  background-color:#FAFA1B;
}


/* koko kara package page */
.sansuilogo{
  width: 100%;
  height: auto;
  border: solid;

}

.package-pic-box{
  width: 100%;
  display: flex;
flex-direction: column;
}

.package_pic_1 , .package_pic_2{
  width: 100%;
  height: auto;
  border: solid;

}
.packagelayout{
  width: 100%;
  height: auto;
  border: solid;

}





/* koko kara contact page */
.contactpage-title{
  font-size:6rem;
font-weight: bold;
padding-left: 1100px;
position: relative;
top: -80px;
color: #FAFA1B;
}









/* .gnav{
    width:100%;
} */
/* .menu_box{
    max-width: 100%;
    margin: 0px auto;
} */

/* .gnav__menu{
    display: flex;
    justify-content: space-between;
} */


#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
  top: 0;
  width:100%;
    height: 100vh;
}

/* 丸の拡大 */
.circle-bg{
    position: fixed;
  z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #B7BAC3;
    /*丸のスタート位置と形状*/
  transform: scale(0);/*scaleをはじめは0に*/
  right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
} 

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    background-color: #B7BAC3; 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
    /* display: flex;
    justify-content: space-around;
    width: 90%; */
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav-list{
  width: 45%;
  margin: 0 0 0 190px;
  /* text-align: center; 
  list-style: none; */
}

.g-nav ul{
  width: 100%;
}

#g-nav li{
  text-align: left;
  list-style: none;
}

#g-nav li a{
  color:yellow;
  text-decoration: none;
  /* padding:10px; */
  margin: 20px 0; 
  display: block;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 3rem;
}
/* #g-nav li a img{
  width: 100%;
} */

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  top:10px;
  right: 30px; /*btn position*/
  z-index: 9999;/*ボタンを最前面に*/
  cursor: pointer;
    width: 84px;
    height: 84px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color:#FAFA1B;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    background-color: #FAFA1B;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    background-color: #FAFA1B;
}


  }
















